language: node_js
node_js:
    - "6"
before_script:
    - npm install sequelize-cli -g
    - createdb postit-test --username=postgres
    - sequelize db:migrate 
script: npm test
after_success:
    -npm run coveralls
services:
    - postgres        
env:
    global:
        -NODE_ENV=test