  .page-wrapper-flexbox {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
  }
  main {
    flex: 1 0 auto;
  }
  #closeModal {
    float: right
  }
  .user-avatar {
    background-color: purple;
    height:30px;
    width: 30px;
    margin: 5px;
    border-radius: 5px;
    float: left;
  }
  #profile-letter {
    margin-top:3px;
  }
  .profile-name {
    padding-top:10px;
    font-size: 20px;
  }
  #add_user {
    margin-top:0px;
    float: left;
    padding-top: 0px
  }
  li.user-list {
    display: inline;
  }
  .move_right {
    float: right;
  }
  .user {
    padding-bottom: 3px;
    
  }
  .home_message {
    padding-top: 200px
  }
  .home-container {
    padding-bottom: 400px
  }
  .message {
    border-top: 0.5px solid #e0e0e0;
    padding:20px;
    
  }
  .clear-top {
    margin-top: 15px;
  }
  #message {
    text-align: justify;
    margin-bottom:25px
  }
  .message:hover{
    background-color: #fafafa
  }
  #message-date {
    float: right;
    font-size: 14px;
    color: #bdbdbd 
  }
 .login-form {
   margin-top: 30px;
   margin-bottom: 150px
 }
 div.sticky {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  padding: 5px;
  background-color: #4a148c;
  color: #ffffff;
  border-bottom: 1px solid #e0e0e0;
  height:60px;
  text-align: center
}
.exit-group {
  float: right;
  margin-bottom: 10px;
}
div.messaging-area {
  position: fixed;
  bottom: 20px;
  width: 50%;
  height: 5vh;
  /* border: 3px solid #bdbdbd; */
}
div.all-messages {
  height: 100px;
  overflow: scroll;
}
.messageOverflow {
  background: white;
  color: black;
  padding: 15px;
  width: 90%;
  height: 70vh;
  overflow: scroll;
}
.message-input {
  height:40px;
  /* margin-top: 5px; */
  padding-left:15px;
  padding-right:15px;
  margin-bottom: 5px;
  width: 100%;
  border-radius: 6px 0 0 6px;
  border: 1px solid #bdbdbd;
  display: inline-block;
 }

input.message-input:focus {
  border: 1px solid #4a148c 
}

.priority {
  width: 100%;
  height:40px;
  display: inline-block;
  background: #4a148c ;
  color: white;
  border-radius: 6px 0 0 6px !important;
}
.delete-user-button {
  margin-left: 10px;
}
.delete-area {
  border-top: 0.5px solid #e0e0e0;
  padding:20px;
}
.delete-area:hover {
  background-color: #fafafa
}
.small-text {
  font-size:10px;
}
 

  