@import url(http://weloveiconfonts.com/api/?family=entypo);

body {
  padding: 0;
}

.page-wrapper {
  max-width: 550px;
  margin-right: auto;
  margin-left: auto;
  padding: 15px;
}

.page-wrapper .logo-img {
  margin-top: -10px;
}

.main {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
}

.sidebar {
  display: inline-block;
  width: 19.5%;
  vertical-align: top;
  height: 100%;
  background: #311b92;
  position: relative;
  overflow-y: scroll;
  padding-bottom: 100px;
}

.sidebar .postit-name {
  background: #311b92;
  padding: 15px 0px 15px 15px;
}

.sidebar .postit-name h2 {
  color: #fff;
  font-size: 18px;
  font-weight: bold;
  margin-top: 0px;
  margin-bottom: 0px;
}

.sidebar .channel-list {
  margin-top: 20px;
  background: #311b92;
  position: relative;
}

.sidebar .channel-list .channel a {
  display: block;
  color: rgba(255, 255, 255, 0.6);
  padding: 3px 0px 3px 15px;
  width: 90%;
  font-weight: 300;
  -webkit-border-top-right-radius: 4px;
  -webkit-border-bottom-right-radius: 4px;
  -moz-border-radius-topright: 4px;
  -moz-border-radius-bottomright: 4px;
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
}

.sidebar .channel-list .channel a:hover {
  text-decoration: none;
  background: #311b92;
}

.sidebar .channel-list .channel a.selected {
  background: #4c9689;
  color: #fff;
  text-decoration: none !important;
}

.sidebar .channel-list .channel.create {
  font-style: italic;
}

.sidebar .channel-list .list-head {
  margin-top: 10px;
  color: #fff;
  font-weight: bold;
  margin-left: 10px;
  text-transform: uppercase;
}

.sidebar .my-info {
  position: fixed;
  bottom: 0;
  padding: 15px;
  background: #3E313C;
  width: 19.5%;
}

.sidebar .my-info .user-pic {
  display: inline-block;
  vertical-align: top;
  width: 44px;
  height: 44px;
  border-radius: 4px;
}

.sidebar .my-info .user-info {
  padding-left: 5px;
  display: inline-block;
  vertical-align: top;
}

.sidebar .my-info .user-info .user-name {
  color: #fff;
  font-size: 16px;
  font-weight: bold;
}

.sidebar .my-info .user-info .options {
  color: #999;
  font-size: 12px;
}

.sidebar .my-info .user-info .options a {
  color: #999;
  font-size: 12px;
}

.sidebar .presence {
  border-radius: 50%;
  display: inline-block;
  position: relative;
  width: 10px;
  height: 10px;
  background: #ab9ba9;
  vertical-align: middle;
}

.sidebar .presence.online {
  background: #99d04a;
}

.message-pane {
  display: inline-block;
  vertical-align: top;
  height: 100%;
  width: 80%;
  overflow-y: scroll;
  padding: 55px 15px 65px 15px;
}

.message-pane .header {
  position: fixed;
  top: 0;
  background: #fff;
  width: 100%;
  z-index: 2;
}

.message-pane .header h1 {
  padding: 12px 0 10px 0;
  margin-top: 0px;
  margin-bottom: 0px;
  font-size: 24px;
  color: #311b92;
  font-weight: 900;
}

.message-pane .message-form {
  position: fixed;
  bottom: 0;
  padding: 0 15px 15px 0;
  background: #fff;
  width: 79%;
}

.message-pane .message-wrap {
  position: relative;
  margin-top: 15px;
}

.message-pane .message-wrap .user-pic {
  width: 36px;
  height: 36px;
  border-radius: 4px;
  display: inline-block;
  vertical-align: top;
}

.message-pane .message-wrap .message-info {
  display: inline-block;
  vertical-align: top;
  padding-left: 5px;
}

.message-pane .message-wrap .message-info .user-name {
  color: #311b92;
  font-weight: 900;
}

.message-pane .message-wrap .message-info .user-name span {
  color: #ccc;
  font-weight: normal;
  font-size: 10px;
}

[data-icon]:after {
  font-family: "entypo";
  content: attr(data-icon);
  speak: none;
}
input[type="search"] {
  width: 196px;
  height: 36px;
  padding: 0;
  line-height: 32px;
  background: #56e2c9;
  color: #fff;
  border: 0;
  font: bold 14px/20px "Arial", sans-serif;
  text-indent: 12px;
  outline: none;
  -webkit-appearance: textfield;
}
input[type="search"]::-webkit-input-placeholder {
  color: transparent;
}
input[type="search"]::-moz-input-placeholder {
  color: transparent;
}
input[type="search"]:-ms-input-placeholder {
  color: transparent;
}
input[type="search"]::-webkit-search-cancel-button, input[type="search"]::-webkit-search-results-button, input[type="search"]::-webkit-search-results-decoration {
  -webkit-appearance: none;
  width: 32px;
  height: 32px;
  line-height: 30px;
  color: white;
  text-align: left;
  cursor: pointer;
}
input[type="search"]::-webkit-search-cancel-button:before, input[type="search"]::-webkit-search-results-button:before, input[type="search"]::-webkit-search-results-decoration:before {
  position: absolute;
  content: 'x';
  font-style: normal;
}
input[type="search"]:invalid {
  border: 0 !important;
}
input[type="search"]:invalid::-webkit-search-cancel-button:before, input[type="search"]:invalid::-webkit-search-results-button:before, input[type="search"]:invalid::-webkit-search-results-decoration:before {
  font-family: "entypo";
  content: attr(data-icon);
}
input[type="search"] + label {
  position: absolute;
  margin: 8px 0 0 -30px;
  cursor: pointer;
}
input[type="search"] + label:before {
  position: absolute;
  content: 'Choisir';
  left: -152px;
  width: 180px;
  color: #fff;
  font: bold 14px/20px "Arial", sans-serif;
  text-align: left;
}
input[type="search"] + label:after {
  margin-left: 7px;
  color: #fff;
  content: '\25BE';
}

input[type="search"]:focus::-webkit-input-placeholder {
  font-weight: normal;
  color: #fff;
}
input[type="search"]:focus::-moz-input-placeholder {
  font-weight: normal;
  color: #fff;
}
input[type="search"]:focus:-ms-input-placeholder {
  font-weight: normal;
  color: #fff;
}
input[type="search"]:focus:invalid + label:before {
  display: none;
}
input[type="search"]:focus:invalid + label:after {
  margin-left: 4px;
  content: attr(data-icon);
}
input[type="search"]:valid + label {
  display: none;
}

.ui-autocomplete {
  width: 190px;
  max-height: 180px;
  padding: 0;
  margin: 0;
  overflow-y: auto;
  overflow-x: hidden;
  background: #2ec5aa;
  color: #fff;
  border-width: 4px 4px 4px 0;
  border-style: solid;
  border-color: #2ec5aa;
}
.ui-autocomplete ul {
  list-style: none;
}
.ui-autocomplete li {
  height: 36px;
  margin: 0;
  font: bold 14px/36px Arial, Helvetica, sans-serif;
  white-space: nowrap;
}
.ui-autocomplete li:hover {
  -moz-transition: background 0.3s ease-in;
  -o-transition: background 0.3s ease-in;
  -webkit-transition: background 0.3s ease-in;
  transition: background 0.3s ease-in;
  background: #3ed1b7;
}

.ui-autocomplete li a {
  display: block;
  padding: 0 12px;
  cursor: pointer;
}